/auto-save-list/.saves-1059-chunk~
/auto-save-list/.saves-1131-chunk~
/auto-save-list/.saves-2831-chunk~
/auto-save-list/.saves-2845-chunk~
/auto-save-list/.saves-3293-chunk~
/auto-save-list/.saves-3403-chunk~
/auto-save-list/.saves-4152-chunk~
/elpa/archives/gnu/archive-contents
/elpa/archives/gnu/archive-contents~
/elpa/archives/marmalade/archive-contents
/elpa/archives/marmalade/archive-contents~
/elpa/clojure-mode-1.10.0/clojure-mode-autoloads.el
/elpa/clojure-mode-1.10.0/clojure-mode-autoloads.el~
/elpa/clojure-mode-1.10.0/clojure-mode-pkg.el
/elpa/clojure-mode-1.10.0/clojure-mode-pkg.elc
/elpa/clojure-mode-1.10.0/clojure-mode.el
/elpa/clojure-mode-1.10.0/clojure-mode.elc
/elpa/clojurescript-mode-0.5/clojurescript-mode-autoloads.el
/elpa/clojurescript-mode-0.5/clojurescript-mode-autoloads.el~
/elpa/clojurescript-mode-0.5/clojurescript-mode-pkg.el
/elpa/clojurescript-mode-0.5/clojurescript-mode-pkg.elc
/elpa/clojurescript-mode-0.5/clojurescript-mode.el
/elpa/clojurescript-mode-0.5/clojurescript-mode.elc
/elpa/magit-1.0.0/50magit.el
/elpa/magit-1.0.0/50magit.elc
/elpa/magit-1.0.0/Makefile
/elpa/magit-1.0.0/README.md
/elpa/magit-1.0.0/magit-autoloads.el
/elpa/magit-1.0.0/magit-key-mode.el
/elpa/magit-1.0.0/magit-key-mode.elc
/elpa/magit-1.0.0/magit-pkg.el
/elpa/magit-1.0.0/magit-pkg.el.in
/elpa/magit-1.0.0/magit-pkg.elc
/elpa/magit-1.0.0/magit-svn.el
/elpa/magit-1.0.0/magit-svn.elc
/elpa/magit-1.0.0/magit-topgit.el
/elpa/magit-1.0.0/magit-topgit.elc
/elpa/magit-1.0.0/magit.el
/elpa/magit-1.0.0/magit.elc
/elpa/magit-1.0.0/magit.info
/elpa/magit-1.0.0/magit.spec
/elpa/magit-1.0.0/magit.spec.in
/elpa/magit-1.0.0/magit.texi
/elpa/paredit-22/paredit-autoloads.el
/elpa/paredit-22/paredit-autoloads.el~
/elpa/paredit-22/paredit-pkg.el
/elpa/paredit-22/paredit-pkg.elc
/elpa/paredit-22/paredit.el
/elpa/paredit-22/paredit.elc
/url/cookies
/tramp
/auto-save-list/.saves-2807-chunk~
/.emacs.desktop
/.emacs.desktop.lock
